.mishka {
    font-family: "Opensans", "Helvetica", "Arial", sans-serif;
    width: 100%;
    .clear-indent();
}

.mishka__h2,
.mishka__h3,
.mishka__h4 {
    .h();
}

.mishka__h1 {
    .h();
    @media @mobile {
        font-size: 27px;
        line-height: 30px;
    }
    font-size: 43px;
    line-height: 50px;
}

.mishka__button,
.mishka__input[type="submit"] {
    outline: none !important;
    border: 0 !important;
}

.mishka__button::-moz-focus-inner {
    border: 0 !important;
}

.mishka__capitalize {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mishka__email {
    text-decoration: none;
    color: @text-color;
    outline: none;
    border-bottom: 1px solid @cyan-light;
}

@media @mobile {
    .mishka__wrapper-center {
        margin: auto;
        width: 320px;
        display: block;
    }
    .mishka__wrapper-responsive {
        margin: auto;
        width: 100%;
        min-width: 320px;
        display: block;
        background-color: @title-bg;
    }
    .mishka__wrapper-content {
        width: 260px;
        margin: auto;
        display: block;
    }
}

@media @tablet {
    .mishka__wrapper-center {
        margin: auto;
        width: 768px;
    }
    .mishka__wrapper-responsive {
        margin: auto;
        width: 100%;
        min-width: 768px;
        background-color: @title-bg;
    }
    .mishka__wrapper-content {
        width: 668px;
        margin: auto;
    }
}

@media @desktop {
    .mishka__wrapper-center {
        margin: auto;
        width: 1050px;
    }
    .mishka__wrapper-responsive {
        margin: auto;
        width: 100%;
        min-width: 1050px;
        background-color: @title-bg;
    }
    .mishka__wrapper-content {
        width: 1050px;
        margin: auto;
    }
}
