.catalog-page__video-card {
    height: auto;
    width: 290px;
    margin: 25px auto;
    border: @border;

    img {
        .img-inline();
        margin: 0 5px;
    }


}

.catalog-page__video-text {
    .text();
    padding-left: 20px;
}

.catalog-page__video-h {
    width: 50%;
    display: inline-block;
    padding-left: 20px;
}

.catalog-page__video-icon {
    height: auto;
    display: inline-block;
    padding-left: 20px;
}
