.catalog-good {
    height: 420px;
    width: 290px;
    margin-top:  25px;
    margin-left: auto;
    margin-right: auto;
    border: @border;

    img {
        .img(220px);
        width: 100%;
    }

    p {
        .text();
    }
}

.catalog-good__info {
    padding: 15px;
}

.catalog-good__buy-cart {
    float: right;

    img {
        .img(20px);
    }
}