.goods-card {
    display: block;
    margin: 30px auto;
    color: @text-color;
    line-height: 24px;
}

.goods-card__text {
    .text();
}

.goods-card__notation {
    line-height: 17px;
}

.goods-card__button {
    height: 50px;
    border: 2px solid @text-color;
}

.goods-card__price {
    .font(@text-color);
}

.goods-card__wrapper {
    margin: auto;
}

.goods-card__img {
    background-color: #68DBCE;
}

@media @mobile {
    .goods-card__name {
        font-size: 25px;
        .clear-indent();
    }
    .goods-card__notation {
        margin: 0;
        padding-top: 10px;
        .font(@cyan-light);
    }
    .goods-card__left {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .goods-card__parameters {
        width: 100%;
    }
    .goods-card__parameters-td {
        height: 40px;
        border-bottom: 1px solid #f1f1f1;
        border-collapse: collapse;
    }
    .goods-card__img {
        .clear-indent();
        order: 1;
        margin-top: 20px;

        img {
            width: 260px;
            height: 320px;
        }
    }
    .goods-card__price {
        padding-top: 20px;
        text-align: center;
        font-size: 17px;
        order: 2;
    }
    .goods-card__button {
        order: 3;
        width: 260px;
        margin: 30px auto;
    }
    .goods-card__wrapper {
        width: 260px;
        display: flex;
        flex-direction: column;
    }
}

@media @tablet {
    .goods-card {
        flex-direction: column;
        margin-bottom: 70px;
    }
    .goods-card__head {
        display: flex;
        justify-content: space-between;
    }
    .goods-card__name {
        color: #000;
        .clear-indent();
    }
    .goods-card__notation {
        margin: 10px 20px;
        .font(@cyan-light);
        width: 80px;
        text-align: center;
    }
    .goods-card__left {
        margin: 40px auto 60px auto;
    }
    .goods-card__parameters {
        width: 300px;
    }
    .goods-card__text {
        width: 300px;
        display: inline-block;
        .clear-indent();
        padding-bottom: 35px;
    }
    .goods-card__parameters-td {
        height: 40px;
        border-bottom: 1px solid #f1f1f1;
        border-collapse: collapse;
    }
    .goods-card__img {
        .clear-indent();
        margin-top: 40px;
        float: right;
        display: inline-block;
        height: 400px;

            img {
                width: 300px;
                height: 400px;
            }
    }
    .goods-card__price {
        text-align: center;
        font-size: 17px;
        width: 300px;
        display: inline-block;
    }
    .goods-card__button {
        width: 290px;
        display: inline-block;
        margin-top: 21px;
    }
    .goods-card__wrapper {
        width: 668px;
    }
}

@media @desktop {
    .goods-card {
        display: flex;
        margin: 60px auto;
        color: @text-color;
        line-height: 24px;
        flex-direction: column;
    }
    .goods-card__head {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 700px;
        margin: 40px 0;
        clear: both;
    }
    .goods-card__name {
        color: #000;
        .clear-indent();
    }
    .goods-card__notation {
        margin: auto;
        .font(@cyan-light);
        width: 80px;
        text-align: center;
    }
    .goods-card__left {
        margin-left: 175px;
        width: 340px;
        float:left;
    }
    .goods-card__parameters {
        width: 300px;
    }
    .goods-card__text {
        width: 300px;
        display: inline-block;
        .clear-indent();
        padding-bottom: 35px;
    }
    .goods-card__parameters-td {
        height: 40px;
        border-bottom: 1px solid #f1f1f1;
        border-collapse: collapse;
    }
    .goods-card__img {
        margin-top: -135px;
        float: right;
        height: 555px;
        img {
            height: 555px;
            width: 530px; 
        }
    }
    .goods-card__price {
        padding-top: 60px;
        margin: auto;
        margin-left: 175px;
        text-align: center;
        font-size: 24px;
        width: 290px;
        height: 40px;
        display: block;
        float: left;
    }
    .goods-card__button {
        width: 290px;
        display: block;
        margin-top: 25px;
        margin-left: 175px;
        float: left;
    }
    .goods-card__wrapper {
        width: 1050px;
    }
}
