.order-page__form-section {
    width: 100%;
}

.order-page__form {
    width: 100%;
}

.order-page__description-text {
    .text();
}

.order-page__form-frame {
    border: none;
    .clear-indent();
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
{
    color: #000;
    opacity: 0.5;
    font-size: 17px;
    line-height: 24px;
}

.order-page__form-phone input::-webkit-input-placeholder {
    background: url(../img/icon-phone.svg) no-repeat 95%;
}

.order-page__form-email input::-webkit-input-placeholder {
    background: url(../img/icon-mail.svg) no-repeat 95%;
}

.order-page__form-label {
    display: flex;
    width: 100%;
    font-size: 17px;
    line-height: 24px;
}

.order-page__form-item {
    margin-bottom: 20px;
    box-sizing: border-box;
}

.order-page__form-fio-label {
    margin: auto;
    min-width: 40px;
    margin-right: 10px;
}

.order-page__form-radio {
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background-color: #fff;
    border: 2px solid @text-color;
    border-radius: 50% 50%;
    cursor: pointer;
}

.order-page__form-checkbox {
    width: 50px;
    height: 50px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    border: 2px solid @text-color;
    cursor: pointer;
}

input[type="checkbox"]:checked + label .order-page__form-checkbox {
    background: url(../img/icon-tick.svg) no-repeat 50%;
}

input[type="radio"]:checked + label .order-page__form-radio {
    background: url(../img/icon-radio.svg) no-repeat 50%;
}

.order-page__form-notation {
    .text();
}

.order-page__form-text {
    margin: auto;
    height: 45px;
    border-bottom: 2px solid #000;
    border-left: none;
    border-right: none;
    border-top: none;
    background: none;
}

.order-page__form-textarea {
    border: 2px @text-color solid;
    width: 100%;
}

.order-page__form-item-name {
    .font();
    margin: 0;
    padding-left: 20px;
    padding-top: 10px;
    vertical-align: middle;
}

@media @mobile {
    .order-page__description-text {
        padding-left: 20px;
    }
    .order-page__form-frame {
        border-top: 1px @cyan-light solid;
        border-left: none;
        border-right: none;
        border-bottom: none;
        .clear-indent();
    }
    .order-page__form-submit-wrap,
    .order-page__form-input-wrap {
        height: auto;
        margin: 20px auto;
    }
    .order-page__form-legend {
        .font(@cyan-light);
        border-right: solid 10px #FFF;
        text-align: left;
        .clear-indent();
    }
    .order-page__form-radio,
    .order-page__form-checkbox {
        width: 36px;
        height: 36px;
    }
    input[type="radio"]:checked + label .order-page__form-radio {
        background-size: 15px 15px;
    }
    input[type="checkbox"]:checked + label .order-page__form-checkbox {
        background-size: 20px 20px;
    }
    .order-page__form-item-name {
        max-width: 155px;
    }
    .order-page__form-item {
        width: 100%;
        height: 40px;
        margin-top: 10px;
    }
    .order-page__form-p-text {
        .font();
        padding: 0;
        .clear-indent();
    }
    .order-page__form-submit-frame {
        width: 260px;
        height: 50px;
        margin: 30px auto 50px auto;
        p {
            margin: 13px 20px;
            text-align: center;
            .font(@text-color);
            font-size: 17px;
        }
    }
    .order-page__form-submit {
        background-color: #fff;
        .clear-indent();
        width: 100%;
    }
    .order-page__form-text {
        width: 100%;
        margin-bottom: 15px;
    }
    .order-page__form-row,
    .order-page__form-row-small,
    .order-page__form-row-last,
    .order-page__form-submit-wrap {
        width: 260px;
        margin: 20px auto;
    }
}

@media @tablet {
    .order-page__description {
        margin-top: 70px;
    }
    .order-page__form-frame {
        max-width: 90px;
    }
    .order-page__form-row {
        display: flex;
        width: 668px;
        margin: auto;
        padding: 40px 0;
        max-height: 220px;
        min-height: 140px;
    }
    .order-page__form-cell {
        display: block;
        vertical-align: top;
        min-width: 60px;
    }
    .order-page__form-input-wrap {
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        width: 100%;
    }
    .order-page__form-legend {
        .font(@cyan-light);
        border: none;
        margin: 0;
        padding-top: 20px;
    }
    .order-page__form-label {
        width: 240px;
    }
    .order-page__form-text {
        padding: 0;
        margin: 0;
        flex-grow: 1;
        max-height: 50px;
    }
    .order-page__form-fields-wrap {
        display: flex;
        width: 100%;
        min-height: 55px;
        align-items: baseline;
    }
    .order-page__form-p-text {
        .font();
        padding: 0;
        margin: auto;
    }
    .order-page__form-submit-frame {
        width: 260px;
        height: 50px;
        p {
            margin: 13px 20px;
            text-align: center;
            .font(@text-color);
            font-size: 17px;
        }
    }
    .order-page__form-submit {
        background-color: #fff;
        margin: 0;
        padding: 10px;
        width: 100%;
    }
    .order-page__form-colors {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 470px;
    }
    .order-page__form-row-small {
        display: flex;
        width: 670px;
        margin: auto;
        min-height: 75px;
        &:first-of-type {
            padding-top: 40px;
        }
        &:last-of-type {
            padding-bottom: 40px;
        }
    }
    .order-page__form-text[type="email"],
    .order-page__form-text[type="tel"] {
        width: 100%;
    }
    .order-page__form-textarea {
        width: 500px;
        ;
        max-height: 145px;
    }
    .order-page__form-submit-wrap {
        width: 668px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .order-page__form-row-last {
        display: flex;
        width: 670px;
        margin: auto;
        padding-top: 40px;
        justify-content: column;
        &:last-of-type {
            height: 70px;
            padding: 0;
            margin: 30px auto;
        }
    }
    .order-page__form-submit-frame,
    .order-page__form-notation {
        margin: auto 0;
    }
}

@media @desktop,
@tablet {
    .order-page__description-text {
        font-size: 17px;
        line-height: 26px;
    }
    .order-page__form-row-wrapper {
        width: 100%;
        background-color: @title-bg;
        min-height: 160px;
        height: auto;
    }
    .order-page__form-text {
        padding: 0;
        margin: 0;
        flex-grow: 1;
        max-height: 50px;
    }
    .order-page__form-fields-wrap {
        display: flex;
        width: 100%;
        min-height: 55px;
        align-items: baseline;
        margin: 10px 0;
    }
    .order-page__form-submit-frame,
    .order-page__form-notation {
        margin: auto 0;
    }
    .order-page__form-radio {
        min-width: 50px;
        min-height: 50px;
    }
    .order-page__form-fio-label {
        font-size: 19px;
    }
}

@media @desktop {
    .order-page__description {
        margin: auto;
        width: 768px;
    }
    .order-page__description-text {
        margin-top: 70px;
    }
    .order-page__form-frame {
        width: 100%;
    }
    .order-page__form-row {
        display: flex;
        width: 1050px;
        margin: auto;
        padding: 40px 0;
        max-height: 220px;
        min-height: 140px;
    }
    .order-page__form-cell {
        display: flex;
        vertical-align: top;
        min-width: 175px;
    }
    .order-page__form-input-wrap {
        height: auto;
        max-height: 240px;
        display: flex;
        flex-direction: column;
        width: 700px;
    }
    .order-page__form-legend {
        .font(@cyan-light);
        border: none;
        margin-left: 60px;
        padding-top: 20px;
        self-align: left;
    }
    .order-page__form-item {
        height: 40px;
        margin-top: 10px;
    }
    .order-page__form-p-text {
        .font();
        padding: 0;
        margin: auto;
    }
    .order-page__form-submit-frame {
        width: 260px;
        height: 50px;
        p {
            margin: 13px 20px;
            text-align: center;
            .font(@text-color);
            font-size: 17px;
        }
    }
    .order-page__form-submit {
        background-color: #fff;
        width: 100%;
    }
    .order-page__form-colors {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 768px;
        max-height: 160px;
        min-height: 145px;
    }
    .order-page__form-row-small {
        display: flex;
        width: 1050px;
        margin: auto;
        min-height: 75px;
        &:first-of-type {
            padding: 40px 0 10px 0;
        }
        &:last-of-type {
            padding: 10px 0 40px 0;
        }
    }
    .order-page__form-text[type="email"],
    .order-page__form-text[type="tel"] {
        width: 100%;
    }
    .order-page__form-textarea {
        width: 700px;
        max-height: 145px;
    }
    .order-page__form-submit-wrap {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        width: 875px;
        margin-bottom: 50px;
    }
    .order-page__form-row-last {
        display: flex;
        width: 1050px;
        margin: auto;
        padding-top: 40px;
        .order-page__form-submit-wrap::after {
            content: "";
            width: 175px;
        }
        .order-page__form-notation {
            align-self: flex-start;
            flex-grow: 1;
            text-align: right;
        }
    }
}
