.page-title {
    display: block;
    background-color: @title-bg;
    margin-bottom: 60px;
    h1 {
        padding: 95px 10px;
        .h(center);
        margin: 0;
    }
}

@media @mobile {
    .page-title {
        margin: auto;
        height: 175px;
        h1 {
            padding: 75px 10px;
        }
    }
}

@media @desktop {
    .page-title {
        margin-bottom: 140px;
    }
}
