.page-title {
    display: block;
    height: 200px;
    background-color: @title-bg;
    
    h1 {
        padding: 95px 10px;
        .h(center);
        margin: 0;

    }
}

@media @mobile {
       .page-title h1 {
        padding: 75px 10px;
    }
}