.site-button {
    width: 257px;
    height: 50px;
    border: 2px solid @text-color;
    margin: 40px auto;
    outline: none;
    background-color: #FFF;
}

.site-button__text {
    font-family: opensans;
    margin: auto;
    text-align: center;
    color: @text-color;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    a {
        .a(@text-color);
    }
}
