.site-contacts {
    width: 80%;
    margin: auto;
}

.site-contacts__list {
    font-size: 15px;
    line-height: 30px;
    color: @text-color;
    list-style: none;
    .clear-indent();
}

.site-contacts__list-email, .site-contacts__list-address {
    margin: 20px auto;
}

.site-content__map {
    .clear-indent();
    img{
        .img()

    }
}