@media @mobile {
    .site-logo {
        width: calc(~'100% - 40px'); //магия О_о
        height: @standard-height;
        margin: auto;
        top: 0;
        display: block;
    }
    .site-header__logo {
        height: @standard-height;
        background: url("../img/logo-mobile.svg") no-repeat 50%;
    }
}

@media @tablet {
    .site-logo {
        width: 115px;
        height: @standard-height;
        margin: 0;
        flex-grow: 1;
    }
    .site-header__logo {
        height: @standard-height;
        width: 120px;
        background: url("../img/logo-mobile.svg") no-repeat 50%;
        padding-left: 40px;
    }
}

@media @desktop {
    .site-logo {
        width: 140px;
        height: 90px;
        flex-grow: 1;
    }
    .site-header__logo {
        height: @standard-height;
        background: url("../img/logo-mobile.svg") no-repeat 50%;
        align-self: center;
    }
}
