.site-reviews__review {
    line-height: 30px;
    font-size: 17px;
    color: @text-color;
}

.site-reviews__button {
    height: 50px;
    border: 2px solid @text-color;
    padding: 0;
}

.site-reviews__nav-arrow-l {
    background: url("../img/icon-left-arrow.svg") no-repeat 50%;
}

.site-reviews__nav-arrow-r {
    background: url("../img/icon-right-arrow.svg") no-repeat 50%;
}

.site-reviews__nav-arrow-l,
.site-reviews__nav-arrow-r {
    cursor: pointer;
}

.site-reviews__author-name {
    font-size: 17px;
    color: #000;
    font-weight: bold;
}

.site-reviews__review-text {
    white-space: pre-line;
    display: inline;
    text-align: left;
}

@media @mobile {
    .site-reviews__wrapper {
        width: 320px;
        margin: auto;
        padding-top: 60px;
        font-size: 15px;
    }
    .site-reviews {
        width: 260px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .site-reviews__title {
        .h(left);
        .clear-indent();
    }
    .site-reviews__review {
        .clear-indent();
        width: 90%;
    }
    .site-reviews__author,
    .site-reviews__link {
        font-style: normal;
        font-size: 17px;
        margin: 15px 5px auto auto;
        display: block;
    }
    .site-reviews__author-name {
        width: 260px;
        margin: 0;
        font-size: 17px;
        display: block;
    }
    .site-reviews__link {
        .clear-indent();
        padding-bottom: 10px;
    }
    .site-reviews__nav {
        width: 260px;
        margin: 10px auto;
        height: 55px;
        display: table;
        border: @border;
        border-collapse: collapse;
    }
    .site-reviews__nav-arrow-l,
    .site-reviews__nav-arrow-r {
        display: table-cell;
        border-left: @border;
        margin: 0;
        height: 100%;
        width: 50% - 1px;
    }
    .site-reviews__button {
        order: 3;
        width: 260px;
        margin: 30px auto;
    }
}

@media @retina {
    .site-reviews__wrapper {
        background: #f9f9f9 url("../img/review@2x.jpg") no-repeat;
        background-size: cover;
    }
}

@media @tablet {
    .site-reviews__wrapper {
        width: 768px;
        margin: auto;
        background: url("../img/review@1x.jpg") no-repeat;
        margin-bottom: 60px;
    }
    .site-reviews {
        margin: auto;
        width: 668px;
    }
}

@media @desktop {
    .site-reviews__wrapper {
        width: 1050px;
        margin: auto;
        background: url("../img/review@1x.jpg") no-repeat;
        margin-bottom: 60px;
    }
    .site-reviews {
        margin-left: 175px;
        width: 880px;
    }
}

@media @desktop,
@tablet {
    .site-reviews {
        padding: 40px 0 60px 0;
    }
    .site-reviews__title {
        .h(left);
        display: inline-block;
        margin: 30px auto;
    }
    .site-reviews__review {
        margin: 0;
        display: block;
    }
    .site-reviews__button {
        width: 170px;
        display: inline-block;
        float: right;
        margin: 30px auto;
        padding: 10px;
    }
    .site-reviews__author,
    .site-reviews__link {
        font-style: normal;
        font-size: 17px;
        margin: 0;
        display: block;
    }
    .site-reviews__author {
        float: left;
        padding-top: 40px;
    }
    .site-reviews__author-name {
        .clear-indent();
    }
    .site-reviews__link {
        .clear-indent();
        width: 260px;
    }
    .site-reviews__nav {
        width: 170px;
        margin: 0;
        height: 55px;
        display: inline-table;
        border: none;
        float: right;
        padding-top: 40px;
    }
    .site-reviews__nav-arrow-l,
    .site-reviews__nav-arrow-r {
        display: table-cell;
        border: none;
        margin: 0;
        height: 100%;
        width: 50% - 1px;
    }
    .site-reviews__review {
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
}
