.site-footer {
    width: 100%;
    margin: auto;
    display: flex;
    background-color: @title-bg;
}

.site-footer__wrapper {
    margin: auto;
    justify-content: space-between;
}

.site-footer__social-links {
    display: flex;
    align-items: center;
    margin: auto;
}

.site-footer__copyrigth {
    display: flex;
}

.site-footer__copyrigth-text {
    font-weight: bold;
    font-size: 17px;
}

.site-footer__copyrigth-wrapper {
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-footer__social-links-wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.site-footer__social-links-element {
    a {
        .a();
    }
}

@media @mobile {
    .site-footer {
        height: 160px;
    }
    .site-footer__wrapper {
        width: 320px;
        margin: auto;
    }
    .site-footer__logo {
        display: none;
    }
    .site-footer__copyrigth {
        padding: 0 20px;
        height: 60px;
        max-width: 220px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .site-footer__copyrigth-span {
        vertical-align: middle;
    }
    .site-footer__copyrigth-text {
        width: 135px;
        margin: 0;
        float: left;
    }
    .site-footer__social-links {
        width: 80%;
        padding-top: 20px;
        margin: auto;
        height: 60px;
        display: flex;
        flex-direction: column;
        &::after {
            content: "";
            display: block;
            width: 260px;
            height: 5px;
            border-bottom: @border;
            margin: 10px auto;
        }
    }
    .site-footer__social-links-wrapper {
        width: 70%;
    }
}

@media @desktop {
    .site-footer__wrapper {
        width: 1150px;
    }
}

@media @tablet {
    .site-footer__wrapper {
        width: 668px;
    }
}

@media @desktop,
@tablet {
    .site-footer {
        padding: 35px 0;
    }
    .site-footer__wrapper {
        display: flex;
        align-items: center;
        max-width: 100%;
        height: 80px;
        justify-content: space-between;
    }
    .site-footer__copyrigth {
        height: 60px;
        width: 200px;
    }
    .site-footer__copyrigth-span {
        margin: auto;
    }
    .site-footer__copyrigth-text {
        margin: auto;
    }
    .site-footer__social-links {
        width: 160px;
        height: 60px;
    }
    .site-footer__logo {
        height: 60px;
        width: 200px;
    }
}
