.site-logo__img {
    display: flex;
    picture {
        display: flex;
    }
    img {
        margin: auto;
    }
}

@media @mobile {
    .site-logo {
        width: calc(~'100% - 40px');
        height: @standard-height;
        margin: auto;
        top: 0;
        display: block;
    }
    .site-logo__img {
        height: @standard-height;
    }
}

@media @tablet {
    .site-logo {
        width: 115px;
        height: @standard-height;
        margin: 0;
        flex-grow: 1;
    }
    .site-logo__img {
        height: @standard-height;
        width: 120px;
        padding-left: 40px;
        img {
            height: 45px;
        }
    }
}

@media @desktop {
    .site-logo {
        width: 300px;
        height: 90px;
    }
    .site-logo__img {
        height: @standard-height;
        align-self: center;
        width: 140px;
        margin: auto;
        img {
            height: 60px;
        }
    }
}
