
.site-logo {
    width: calc(~'100% - 40px'); //магия О_о
    height: @standard-height;
    margin: auto;
    display: inline-block;

    img {
        .img(40px);
        padding-top: @standard-height/3;
    }
}