
.site-reviews {
    width: 80%;
    margin: auto;
}

.site-reviews__title {
    .h(left);
}

.site-reviews__text {
    .clear-indent();
    line-height: 30px;
    font-size: 15px;
    color: @text-color;
    width: 90%;
}

.site-reviews__author, .site-reviews__link {
    font-style: normal;
    font-size: 17px;
    margin: 15px 5px auto auto;
}

.site-reviews__author {
    .h(left);
    color: #000;
}

.site-reviews__link {
    .clear-indent();
}

.site-reviews__nav {
    width: 100%;
    min-width: 260px;
    button {
    background-color: #fff;
    }

}

.site-reviews__nav-arrows {
    width: 100%;
    margin: 20px auto;
}

.site-reviews__nav-arrow-l, .site-reviews__nav-arrow-r {
    display: inline;
    border: @border;
    margin: 0;
    height: 50px;
    width: 50% - 1px;
    img {
        .img(30px);
        padding-top: 10px;
    }
}
.site-reviews__nav-arrow-l {
    float: left;
}
.site-reviews__nav-arrow-r {
    float: right;
}

.site-reviews .site-button {
    clear: both;
}
