.site-button {
    width: 257px;
    height: 50px;
    border: 2px solid @text-color;
    margin: 40px auto;
}

.site-button__text {
    font-family: opensans;
    margin: 13px auto;
    text-align: center;
    a {
        .a(@text-color);
    }
}
